.footer {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
}

.footer-shifted {
  margin-left: 250px;
}