.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  transition: margin-left 0.3s ease; /* Smooth transition for content shift */
}

.content-shifted {
  margin-left: 300px; /* Shift content when sidebar is open */
}

.main-content {
  margin-top: 60px;
  padding: 20px;
  /* align-items: center;
  justify-content: center; */
  width: 100%;
  height: 100%;
}