.sidebar {
  width: 300px;
  background-color: #1f2937;
  color: white;
  position: fixed;
  left: -300px;
  top: 0;
  height: 100%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  transition: transform 0.3s ease, left 0.3s ease;
}

.sidebar-open {
  left: 0; /* Slide in to view */
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar li {
  width: 100%;
  padding: 10px;
  border-radius: 10px; /* Explicitly set border-radius here */
  transition: background-color 0.3s, color 0.3s;
}

.sidebar li:hover {
  background-color: #6b21a8;
  color: #ffffff;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  display: block; /* Make link occupy the full list item area */
}

.sidebar ul li a:hover {
  color: inherit;
  display: block;
}
