.card {
  background: #374151; /* Dark gray background */
  border: 1px solid var(--surface-border); /* Light border color */
  padding: 1.3rem; /* Internal spacing */
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out; /* Smooth transform and border transitions */
  box-shadow: 
    2px 5px 7px rgba(0, 0, 0, 0.02), 
    2px 5px 7px rgba(0, 0, 0, 0.05), 
    2px 5px 7px rgba(0, 0, 0, 0.08); /* Soft shadows */
  border-radius: $borderRadius; /* Adjusted border-radius */
}

.card.hover-effect:hover {
  transform: translateY(6px); /* Slightly lift the card */
  border: 2px solid #ffffff; /* White border on hover */
  box-shadow: 
    4px 8px 10px rgba(0, 0, 0, 0.1), 
    4px 8px 10px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

/* Tailwind's fade-in / fade-out for the modal backdrop */
.fade-enter-active, .fade-leave-active {
  @apply transition-opacity duration-300;
}
.fade-enter-from, .fade-leave-to {
  @apply opacity-0;
}

/* Scale transition for modal itself */
.modal-enter-active, .modal-leave-active {
  @apply transition-transform transition-opacity duration-300;
}
.modal-enter-from {
  @apply opacity-0 scale-95;
}
.modal-leave-to {
  @apply opacity-0 scale-95;
}