.card {
  background: #181818;
  border: 1px solid var(--surface-border);
  padding: 2rem;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.02), 2px 5px 7px rgba(0, 0, 0, 0.05), 2px 5px 7px rgba(0, 0, 0, 0.08);
  // width: 100%;
  border-radius: $borderRadius;

  &:last-child {
      margin-bottom: 0;
  }
}

/* Tailwind's fade-in / fade-out for the modal backdrop */
.fade-enter-active, .fade-leave-active {
  @apply transition-opacity duration-300;
}
.fade-enter-from, .fade-leave-to {
  @apply opacity-0;
}

/* Scale transition for modal itself */
.modal-enter-active, .modal-leave-active {
  @apply transition-transform transition-opacity duration-300;
}
.modal-enter-from {
  @apply opacity-0 scale-95;
}
.modal-leave-to {
  @apply opacity-0 scale-95;
}