.doc-card-sample {
  background-color: #1f2937; /* Dark background color */
  border-radius: 8px; /* Optional: Rounded corners */
  padding: 16px; /* Optional: Padding for content inside */
  border: 2px solid #1f2937;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for elevation */
  margin-bottom: 10px;
}

.doc-section-description>p i {
  background: var(--mark-background);
  border-radius: 6px;
  color: var(--mark-text);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  padding: 2px 6px;
}

.copy-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  background-color: #7C3AED;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.copy-btn:hover {
  background-color: #6b46c1;
}